@model ML.Producto
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>GetAll</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @if (Model.Productos.Count > 0)
            {
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ML.Producto producto in Model.Productos)
                        {
                            <tr>
                                <td>@producto.Nombre</td>
                                <td>@producto.Descripcion</td>
                                <td>@producto.Costo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger text-center" role="alert">
                            No se encontraron productos
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


